@using TextPortCore.Models
@using TextPortCore.Helpers
@model List<APIApplication>

@if (Model.Count() > 0)
{
    int rowId = 1;
    foreach (APIApplication app in Model)
    {
        string bgClass;
        if (rowId % 2 == 0)
        {
            bgClass = "table-primary";
        }
        else
        {
            bgClass = string.Empty;
        }
        rowId++;
        <tr class="@bgClass">
            <td>@app.ApplicationName</td>
            <td>@app.APIToken</td>
            <td>@app.APISecret</td>
            <td align="center">
                <button onclick="deleteApp(@app.APIApplicationId)" class="btn">
                    <span class="fa fa-trash fa-lg list-icon" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    }
}
else
{
    <tr>
        <td colspan="4" class="text-center">No applications</td>
    </tr>
}