@using TextPortCore.Models
@using TextPortCore.Helpers
@model ForgotPasswordRequest
@{
    ViewBag.Title = "TextPort - Forgot Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-7">
                        <h4>Forgot Password?</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">
                    Please provide the email address that you used when you signed up for your TextPort account. We will send you an email that will allow you to reset your password.
                </h6>
                <br />
                @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { id = "form-forgot" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        @Html.LabelFor(m => m.EmailAddress, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "col-7 form-control" })
                        @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        <button id="btnContinue" type="submit" class="btn btn-primary">Send Password Reset Email</button>
                    </div>
                    if (Model.Status != RequestStatus.Pending)
                    {
                        <div class="form-group">
                            <div class="alert @(Model.Status == RequestStatus.Success ? "alert-success" : "alert-danger")" role="alert">
                                @Model.ConfirmationMessage
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
