@model TextPortCore.Models.RegistrationData

<div class="modal-dialog" role="document" id="purchaseModal">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title" id="addContactLabel">@Model.PurchaseTitle</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        @Html.HiddenFor(m => m.AccountId)
        @Html.HiddenFor(m => m.PurchaseType)
        @Html.HiddenFor(m => m.PayPalCustom)
        @Html.HiddenFor(m => m.VirtualNumberId)
        @Html.HiddenFor(m => m.CompletionTitle)
        @Html.HiddenFor(m => m.CompletionMessage)
        <div class="modal-body">
            <div class="form-group">
                <h5 class="text-center">@Model.ProductDescription</h5>
            </div>
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-3">
                    <div class="input-group">
                        <div id="paypal-button-container"></div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        </div>
    </div>
</div>