@using TextPortCore.Models
@model RegistrationData
@{
    ViewBag.Title = "My Balance";
}

<script type="text/javascript" src="/scripts/TextPort/purchases.js"></script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<script type="text/javascript">
    $(function () {
        $('#menu_balance').addClass("active");
    });
</script>

<div class="row">
    @Html.Partial("_SideMenuBar")
    <div class="col-12 col-md-10">
        <div class="card">
            <div class="card-header">
                <h4>My Balance</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="offset-md-1 col-md-7">
                        <div class="form-group">
                            @Html.LabelFor(m => m.CreditCurrentBalance, new { @class = "form-label" })
                            <label id="VirtualNumberLabel" class="col-4 form-label font-weight-bold">@String.Format("{0:C3}", Model.CreditCurrentBalance)</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h4>Top Up</h4>
            </div>
            <div class="card-body">
                @using (Html.BeginForm("PostPurchase", "Account", FormMethod.Post, new { id = "form-signup" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(m => m.NumberCost)
                    @Html.HiddenFor(m => m.AccountId)
                    @Html.HiddenFor(m => m.PurchaseType)
                    @Html.HiddenFor(m => m.PayPalCustom)
                    @Html.HiddenFor(m => m.VirtualNumberId)
                    @Html.HiddenFor(m => m.PurchaseTitle)
                    @Html.HiddenFor(m => m.ProductDescription)
                    @Html.HiddenFor(m => m.CompletionTitle)
                    @Html.HiddenFor(m => m.CompletionMessage)
                    //@Html.HiddenFor(m => m.BaseNumberCost)
                    //@Html.HiddenFor(m => m.BaseSMSCost)
                    @Html.HiddenFor(m => m.LeasePeriod)
                    @Html.HiddenFor(m => m.LeasePeriodCode)
                    @Html.HiddenFor(m => m.VirtualNumber)

                    <input type="hidden" id="hidTotalCost" value="0" />
                    <div class="row">
                        <div class="offset-md-1 col-md-7">
                            <div class="form-group">
                                @Html.LabelFor(m => m.CreditPurchaseAmount, new { @class = "form-label" })
                                @Html.DropDownListFor(m => m.CreditPurchaseAmount, new SelectList(Model.CreditAmountsList, "Value", "Text"), new { @class = " col-12 col-lg-8 form-control" })
                                @Html.ValidationMessageFor(m => m.CreditPurchaseAmount, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.TotalCost, new { @class = "form-label" })
                                <label id="TotalCost" class="col-12 col-md-7 form-label"></label>
                            </div>
                            <div class="form-group">
                                <button id="btnContinue" type="button" class="btn btn-primary">Continue to Payment</button>
                            </div>

                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div id="purchaseModalCont" class="modal hide fade in"></div>
<div id="postPurchaseModalCont" class="modal hide fade in"></div>
