@using TextPortCore.Models
@using TextPortCore.Helpers
@model ForgotPasswordRequest
@{
    ViewBag.Title = "TextPort - Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function showLogin() {
        showModal("loginModalCont", "/Home/Login");
    }
</script>

<br />
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-7">
                        <h4>Reset Password</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="offset-1 col-11">
                        @if (Model.Status == RequestStatus.Pending)
                        {
                            <p>
                                <h6 class="card-subtitle mb-2 text-muted">Please enter and confirm a new password for user account @Model.UserName.</h6>
                            </p>
                        }

                        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { id = "form-forgot" }))
                        {
                            @Html.HiddenFor(m => m.AccountId)
                            if (Model.Status == RequestStatus.Pending)
                            {
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.Password, new { @class = "col-7 form-control", placeholder = "Password", @type = "password" })
                                    @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-form-label" })
                                    @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "col-7 form-control", placeholder = "Confirm password", @type = "password" })
                                    @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <input type="submit" class="btn btn-primary" value="Reset Password" />
                                </div>
                            }
                            if (Model.Status != RequestStatus.Pending)
                            {
                                <div class="form-group">
                                    <div class="col-11">
                                        <div class="alert @(Model.Status == RequestStatus.Success ? "alert-success" : "alert-danger")" role="alert">
                                            @Model.ConfirmationMessage
                                            @if (Model.Status == RequestStatus.Success)
                                            {
                                                <span>Click <a href="#" onclick="showLogin(); return false;">Here</a> to login</span>
                                            }
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
