@model TextPortCore.Models.RegistrationData
@{
    ViewBag.Title = "TextPort - Sign Up";
}

<script src="~/scripts/TextPort/GetNumbers.js"></script>
<script src="https://www.paypalobjects.com/api/checkout.js"></script>

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <h4>Sign Up</h4>
                <hr>
            </div>
        </div>
        @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { id = "form-signup" }))
        {
            @Html.HiddenFor(m => m.NumberCost)
            @Html.HiddenFor(m => m.AccountId)
            @Html.HiddenFor(m => m.PurchaseType)
            @Html.HiddenFor(m => m.PayPalCustom)
            @Html.HiddenFor(m => m.VirtualNumberId)
            @Html.HiddenFor(m => m.PurchaseTitle)
            @Html.HiddenFor(m => m.ProductDescription)
            @Html.HiddenFor(m => m.CompletionTitle)
            @Html.HiddenFor(m => m.CompletionMessage)

            <input type="hidden" id="hidTotalCost" value="0" />
            <div class="row">
                <div class="offset-1 col-8">
                    <div class="form-group">
                        @Html.LabelFor(m => m.UserName, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.UserName, new { @class = "col-7 form-control", placeholder = "User name" })
                        @Html.ValidationMessageFor(m => m.UserName, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.EmailAddress, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.EmailAddress, new { @class = "col-7 form-control", placeholder = "Email address" })
                        @Html.ValidationMessageFor(m => m.EmailAddress, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Password, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.Password, new { @class = "col-7 form-control", placeholder = "Password", @type = "password" })
                        @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.ConfirmPassword, new { @class = "col-7 form-control", placeholder = "Confirm password", @type = "password" })
                        @Html.ValidationMessageFor(m => m.ConfirmPassword, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        &nbsp;
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <h5>Select a Number</h5>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="offset-1 col-11">
                    <div class="form-group">
                        @Html.LabelFor(m => m.NumberCountryId, new { @class = "form-label" })
                        @Html.DropDownListFor(m => m.NumberCountryId, new SelectList(Model.CountriesList, "Value", "Text"), new { @class = "col-4 form-control" })
                        @Html.ValidationMessageFor(m => m.NumberCountryId, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.AreaCode, new { @class = "form-label" })
                        <div class="row">
                            <div class="col-2">
                                @Html.TextBoxFor(m => m.AreaCode, new { id = "AreaCode", @class = "form-control", placeholder = "000" })
                            </div>
                            <div id="spintiller1" class="spinner-border collapse" role="status">
                                <span class="sr-only">Loading...</span>
                            </div>
                            <div class="col">
                                <label id="AreaCodeDescription" class="col-form-label"></label>
                            </div>
                        </div>
                        @Html.ValidationMessageFor(m => m.AreaCode, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.VirtualNumber, new { @class = "form-label" })
                        @Html.DropDownListFor(m => m.VirtualNumber, new SelectList(Model.NumbersList, "Value", "Text"), new { @class = "col-3 form-control" })
                        @Html.ValidationMessageFor(m => m.VirtualNumber, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LeasePeriod, new { @class = "col-form-label" })
                        @Html.DropDownListFor(m => m.LeasePeriod, new SelectList(Model.LeasePeriodsList, "Value", "Text"), new { @class = "col-3 form-control" })
                        @Html.ValidationMessageFor(m => m.LeasePeriod, null, new { @class = "text-danger" })
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.TotalCost, new { @class = "col-2 form-label" })
                        <label id="TotalCost" class="col-6"></label>
                    </div>
                    <div class="form-group">
                        <button id="btnContinue" type="button" class="btn btn-primary">Continue to Payment</button>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div id="purchaseModalCont" class="modal hide fade in" data-url='@Url.Action("Purchase", "Numbers")'>
</div>
<div id="postPurchaseModalCont" class="modal hide fade in">
</div>