@using TextPortCore.Models
@model Group

<div class="modal fade" role="dialog" id="group-modal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title">Add a Group</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            @using (Html.BeginForm("Add", "Groups", FormMethod.Post, new { id = "form-add" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(m => m.AccountId)
                <div class="modal-body">
                    <div class="form-group">
                        @Html.LabelFor(m => m.GroupName, new { @class = "form-label" })
                        @Html.TextBoxFor(m => m.GroupName, new { @class = "form-control", placeholder = "Group name" })
                        @Html.ValidationMessageFor(m => m.GroupName, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" id="btnAdd" class="btn btn-primary">Add Group</button>
                </div>
            }
        </div>
    </div>
</div>
