@model  TextPortCore.Models.SupportRequestModel
@using TextPortCore.Helpers
@{
    ViewBag.Title = "TextPort: Texting service - Contact Us";
    ViewData["Description"] = "Contact TextPort for web-based texting services and bulk SMS for businesses and individuals. Affordable virtual mobile numbers and messaging rates.";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Url"] = "https://textport.com/contact";
}
<div class="contact">
    <div class="container">
        <h1>Contact Us</h1>
        <div class="row">
            <div class="col-md-8">
                <div class="well well-sm">
                    @using (Html.BeginForm("Contact", "Home", FormMethod.Post, new { id = "form-contact" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.SupportId)
                        @Html.HiddenFor(m => m.RequestType)
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.RequestorName, new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.RequestorName, new { @class = "form-control", placeholder = "Name" })
                                    @Html.ValidationMessageFor(m => m.RequestorName, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.RequestorEmail, new { @class = "form-label" })
                                    @Html.TextBoxFor(m => m.RequestorEmail, new { @class = "form-control", placeholder = "Email" })
                                    @Html.ValidationMessageFor(m => m.RequestorEmail, null, new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Category, new { @class = "form-label" })
                                    @Html.DropDownListFor(m => m.Category, new SelectList(Model.CategoriesList, "Value", "Text"), new { @class = "form-control" })
                                    @Html.ValidationMessageFor(m => m.Category, null, new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Message, new { @class = "form-label" })
                                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control", placeholder = "Message" })
                                    @Html.ValidationMessageFor(m => m.Message, null, new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary pull-right" id="btnContactUs">
                                        Send Message
                                    </button>
                                </div>
                            </div>
                        </div>
                        if (Model.SubmissionStatus != RequestStatus.Pending)
                        {
                            <div class="row">
                                <div class="col-md-12 pt-4">
                                    <div class="form-group">
                                        <div class="alert @(Model.SubmissionStatus == RequestStatus.Success ? "alert-success" : "alert-danger")" role="alert">
                                            @Html.Raw(Model.SubmissionMessage)
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>
            <div class="col-md-4 email">
                <div class="email-head pt-4">
                    <h4>Email Us</h4>
                </div>
                <div class="email">
                    <span class="fa fa-envelope mt-2 mr-2"></span>
                    <a href="mailto:support@textport.com">support@textport.com</a>
                </div>
            </div>
        </div>
    </div>
</div>
