@model TextPortCore.Models.LoginCredentials
@{
    ViewData["Title"] = "Online Text Messaging for Business and Personal Use | TextPort";
    ViewData["Description"] = "Online text messaging service. Send and receive text messages online. Free trial. SMS API. Virtual Numbers. Bulk SMS. Affordable SMS pricing.";
    ViewData["Keywords"] = "online texting service, send and receive text messages online, bulk texting, virtual phone number, business sms service, sms api, email to sms gateway, free trial";
    ViewData["Url"] = "https://textport.com";
}
<style>
    .login-form {
        width: 440px;
        margin: 50px auto;
        font-size: 15px;
    }

        .login-form form {
            margin-bottom: 15px;
            background: #f7f7f7;
            box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
            padding: 30px;
        }

        .login-form h2 {
            margin: 0 0 15px;
        }

    .form-control, .btn {
        min-height: 38px;
        border-radius: 2px;
    }

    .btn {
        font-size: 15px;
        font-weight: bold;
    }

    h2 {
        font-size: 2rem !important;
    }
</style>
<script>
    $(function () {
        $("[data-toggle=popover]").popover({
            html: true,
            content: function () {
                return $('#popover-content').html();
            }
        });

        $('html').on('click', function (e) {
            if (typeof $(e.target).data('original-title') == 'undefined') {
                $('[data-original-title]').popover('hide');
            }
        });
    });
</script>

<div class="row align-items-center main-banner">
    <div class="col-lg-6 text-center text-md-left">
        <h1 class="font-weight-normal">Staff Zone Text Messaging</h1>
        <h4>
            Staff Zone text messaging portal
        </h4>
    </div>
    <div class="col-lg-6 text-center text-md-left">
        <div class="login-form">
            @using (Html.BeginForm("index", "home", FormMethod.Post))
            {
                @Html.AntiForgeryToken()
                <h2 class="text-center">Log in</h2>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.UserNameOrEmail, new { @class = "form-control", placeholder = "Username or email address" })
                    @Html.ValidationMessageFor(m => m.UserNameOrEmail, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.TextBoxFor(m => m.LoginPassword, new { @class = "form-control", placeholder = "Password", @type = "password" })
                    @Html.ValidationMessageFor(m => m.LoginPassword, null, new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Log in</button>
                </div>
                <div class="clearfix">
                    <a href="/account/forgotpassword" class="float-right">Forgot Password?</a>
                </div>
                if (!String.IsNullOrEmpty(Model.Result))
                {
                    <div id="loginMessage" class="alert alert-danger">
                        <label>@Model.Result</label>
                    </div>
                }
            }
        </div>
    </div>
</div>
<div class="pt-3"></div>
