@model  FreeTextResult
@using TextPortCore.Helpers
@using TextPortCore.Models
@foreach (Message msg in Model.Messages)
{
    <div id="@msg.MessageId" class="msg_item">
        @if (msg.Direction == (int)TextPortCore.Helpers.MessageDirection.Outbound)
        {
            if (msg.GatewayMessageId == "FT_Exceeded")
            {
                <div class="free_excd">
                    <p>@Html.Raw(msg.MessageText)</p>
                </div>
            }
            else
            {
                <div class="sent_msg">
                    @if (msg.MMSFiles != null)
                    {
                        foreach (MMSFile mms in msg.MMSFiles)
                        {
                            <div><img src="@MMSUtils.GetMMSFileURL(msg.AccountId, mms.StorageId, mms.FileName)" alt="@mms.FileName" /></div>
                        }
                    }
                    <p>@msg.MessageText</p>
                    @if (msg.QueueStatus == (byte)QueueStatuses.DeliveryFailed)
                    {
                        <div class="fail-reason"><i class="fa fa-exclamation-triangle"></i>@msg.FailureReason</div>
                    }
                    <span id="td_@msg.MessageId"></span>
                </div>
            }
        }
        else
        {
            <div class="received_msg">
                @if (msg.MMSFiles != null)
                {
                    foreach (MMSFile mms in msg?.MMSFiles)
                    {
                        <div><img src="@MMSUtils.GetMMSFileURL(msg.AccountId, mms.StorageId, mms.FileName)" alt="@mms.FileName" /></div>
                    }
                }
                <p>@msg.MessageText</p>
                <span id="td_@msg.MessageId"></span>
            </div>
        }
    </div>
}
