@using TextPortCore.Helpers
@using TextPortCore.Models

@foreach (Message msg in Model.Messages)
{
    if (msg.Direction == (int)TextPortCore.Helpers.MessageDirection.Outbound)
    {
        <div id="@msg.MessageId" class="msg_item outgoing_msg">
            <div class="sent_msg">
                @foreach (MMSFile mms in msg.MMSFiles)
                {
                    <div>
                        <img src="@MMSUtils.GetMMSFileURL(msg.AccountId, mms.StorageId, mms.FileName)" alt="@mms.FileName" />
                    </div>
                }
                <p>
                    @msg.MessageText
                </p>
                <span id="td_@msg.MessageId" class="time_date">@string.Format("{0:MMMM dd, yy | hh:mm tt}", msg.TimeStamp)</span>
            </div>
        </div>
    }
    else
    {
        <div id="@msg.MessageId" class="msg_item incoming_msg">
            <div class="incoming_msg_img"><img src="~/content/images/user-profile.png" /></div>
            <div class="received_msg">
                <div class="received_withd_msg">
                    @foreach (MMSFile mms in msg.MMSFiles)
                    {
                        <div>
                            <img src="@MMSUtils.GetMMSFileURL(msg.AccountId, mms.StorageId, mms.FileName)" alt="@mms.FileName" />
                        </div>
                    }
                    <p>
                        @msg.MessageText
                    </p>
                    <span class="time_date">@string.Format("{0:MMMM dd, yy | hh:mm tt}", msg.TimeStamp)</span>
                </div>
            </div>
        </div>
    }
}