@model TextPortCore.Models.TempImage
<div id="@Model.ImageId" class="temp_img msg_item outgoing_msg">
    <div class="sent_msg">
        <div>
            <img src="@Model.Url" alt="@Model.FileName" />
        </div>
        @if (Model.MessageId == 0)
        {
            <span class="time_date"><a href="" onclick="return removeImage(@Model.ImageId, '@Model.FileName')">Remove</a></span>
        }
    </div>
</div>
