@model TextPortCore.Models.IPData.IPDataResult
<br />
@if (!string.IsNullOrEmpty(Model.ip) && Model.ip != "ERROR")
{
    <label class="label mt-0">LOCATION</label>
    <table class="ipdata-result table table-sm table-striped">
        <tbody>
            <tr>
                <td class="lbl">City</td>
                <td>@Model.city</td>
            </tr>
            <tr>
                <td class="lbl">Region/County</td>
                <td>@Model.region</td>
            </tr>
            <tr>
                <td class="lbl">Country</td>
                <td>@Model.country_name</td>
            </tr>
            <tr>
                <td class="lbl">Postal Code</td>
                <td>@Model.postal</td>
            </tr>
            <tr>
                <td class="lbl">Continent</td>
                <td>@Model.continent_name (@Model.continent_code)</td>
            </tr>
            <tr>
                <td class="lbl">Latitude</td>
                <td>@Model.latitude</td>
            </tr>
            <tr>
                <td class="lbl">Longitude</td>
                <td>@Model.longitude</td>
            </tr>
        </tbody>
    </table>
    if (Model.asn != null)
    {
        <label class="label mt-2">AUTONOMOUS SYSTEM NUMBER (ASN)</label>
        <table class="ipdata-result table table-sm table table-striped">
            <tbody>
                <tr>
                    <td class="lbl">ASN</td>
                    <td>@Model.asn.asn</td>
                </tr>
                <tr>
                    <td class="lbl">Provider/Owner</td>
                    <td>@Model.asn.name</td>
                </tr>
                <tr>
                    <td class="lbl">Domain</td>
                    <td>@Model.asn.domain</td>
                </tr>
                <tr>
                    <td class="lbl">Route</td>
                    <td>@Model.asn.route</td>
                </tr>
                <tr>
                    <td class="lbl">Type</td>
                    <td>@Model.asn.type</td>
                </tr>
            </tbody>
        </table>
    }
    if (Model.time_zone != null)
    {
        <label class="label mt-2">TIME ZONE</label>
        <table class="ipdata-result table table-sm table table-striped">
            <tbody>
                <tr>
                    <td class="lbl">Time Zone</td>
                    <td>@Model.time_zone.name</td>
                </tr>
                <tr>
                    <td class="lbl">UTC Offset</td>
                    <td>@Model.time_zone.offset</td>
                </tr>
                <tr>
                    <td class="lbl">Current Time</td>
                    <td>@Model.time_zone.current_time</td>
                </tr>
            </tbody>
        </table>
    }
    if (Model.languages != null && Model.languages.Count > 0)
    {
        <label class="label mt-2">LANGUAGES</label>
        <table class="ipdata-result table table-sm table table-striped">
            <tbody>
                @foreach (TextPortCore.Models.IPData.Language lang in Model.languages)
                {
                    <tr>
                        <td class="lbl">Language</td>
                        <td>@lang.name</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    if (Model.currency != null)
    {
        <label class="label mt-2">CURRENCY</label>
        <table class="ipdata-result table table-sm table table-striped">
            <tbody>
                <tr>
                    <td class="lbl">Currency</td>
                    <td>@Model.currency.name</td>
                </tr>
                <tr>
                    <td class="lbl">Symbol</td>
                    <td>@Model.currency.symbol</td>
                </tr>
            </tbody>
        </table>
    }
    if (Model.threat != null)
    {
        <label class="label mt-2">THREATS</label>
        <table class="ipdata-result table table-sm table table-striped">
            <tbody>
                <tr>
                    <td class="lbl">Is a Threat</td>
                    <td>@((Model.threat.is_threat) ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <td class="lbl">Anonymous</td>
                    <td>@((Model.threat.is_anonymous) ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <td class="lbl">Is Abuser</td>
                    <td>@((Model.threat.is_known_abuser) ? "Yes" : "No")</td>
                </tr>
                <tr>
                    <td class="lbl">Is Known Attacker</td>
                    <td>@((Model.threat.is_known_attacker) ? "Yes" : "No")</td>
                </tr>
            </tbody>
        </table>
    }
    if (Model.latitude != 0 && Model.longitude != 0)
    {
        <label class="label mt-2">LOCATOR MAP</label>
        <div id="map" class="lu-map"></div>
        <script>setLatLong(@Model.latitude, @Model.longitude);</script>
        <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCVW4VT4EaNv3YamDBlKdTvTng113aD77I&callback=initMap"></script>
    }
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">IP Address</th>
                <th scope="col">@Model.ip</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td colspan="2">Unable to perform a lookup on this IP</td>
            </tr>
        </tbody>
    </table>
}

