@model TextPortCore.Models.NumberLookupResult
<br />
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Number</th>
            <th scope="col">@Model.Number</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.MatchFound)
        {
            <tr>
                <th scope="row">Carrier</th>
                <td>@Model.Company</td>
            </tr>
            <tr>
                <th scope="row">City</th>
                <td>@Model.City</td>
            </tr>
            <tr>
                <th scope="row">State</th>
                <td>@Model.State</td>
            </tr>
            <tr>
                <th scope="row">County</th>
                <td>@Model.County</td>
            </tr>
            <tr>
                <th scope="row">Zip Code</th>
                <td>@Model.Zip</td>
            </tr>
            <tr>
                <th scope="row">Type</th>
                <td>@Model.PrefixType</td>
            </tr>
            <tr>
                <th scope="row">Rate Center</th>
                <td>@Model.RateCenter</td>
            </tr>
            <tr>
                <th scope="row">CLLI</th>
                <td>@Model.CLLI</td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="2">@Model.Message</td>
            </tr>
        }
    </tbody>
</table>
