@using TextPortCore.Models
@using TextPortCore.Helpers
@model RegistrationData

@{
    ViewBag.Title = "Get Number";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="/scripts/TextPort/GetNumbers.js"></script>
<script type="text/javascript" src="/scripts/TextPort/Purchases.js"></script>
<script type="text/javascript" src="/scripts/bootbox/bootbox.min.js"></script>

<script type="text/javascript">
    $(function () {
        $('#menu_numbers').addClass("active");

        $('#btnPurchase').click(function (e) {
            var form = $("#form-get-number");
            if (form.valid()) {

                var leasePeriodType = "";
                var leasePeriodWord = "";
                var leasePeriod = 0;
                var number = numberToDisplay($("#VirtualNumber").val());

                leasePeriodValues = $("#LeasePeriodCode").val().split("|");
                if (number !== "" && leasePeriodValues.length > 2) {
                    leasePeriodType = leasePeriodValues[0];
                    leasePeriod = parseFloat(leasePeriodValues[1]);
                    numberCost = parseFloat(leasePeriodValues[2]);

                    switch (leasePeriodType) {
                        case "D":
                            leasePeriodWord = "day";
                            break;
                        case "W":
                            leasePeriodWord = "week";
                            break;
                        case "Y":
                            leasePeriodWord = "year";
                            break;
                        default:
                            leasePeriodWord = "month";
                            break;
                    }

                    if (leasePeriod > 1) {
                        leasePeriodWord += "s";
                    }

                    bootbox.confirm({
                        title: "Get " + number + "?",
                        message: "Assign " + number + " to your account for a period of " + leasePeriod + " " + leasePeriodWord + "?<br />Your account will be debited $" + numberCost.formatMoney(),
                        buttons: {
                            cancel: {
                                label: '<i class="fa fa-times"></i> Cancel'
                            },
                            confirm: {
                                label: '<i class="fa fa-check"></i> Confirm'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                form.submit();
                            }
                        }
                    })
                }
            };
        });

        $("#lnk-change-number").on("click", function (e) {
            $("#number-chooser").toggle(500);
        });

        $("#number-results").hide();
        $("#selected-number-wrap").hide();
        $("#AreaCode").mask("000");
        $("#UserName").focus();
        $('#form-get-number').validate().settings.ignore = [];
        numberCount = 35;
    });

    function getNumber(number) {
        $("#lbl-sel-number").text("Selected number");
        $("#selected-number").text(numberToDisplay(number));
        $("#VirtualNumber").val("1" + numberToE164(number));
        $("#selected-number-wrap").show();
        $("#number-chooser").hide(500);
        $("#payment-section").show(500);
        $("#form-get-number").validate().element("#VirtualNumber");
    }
</script>

<div class="row">
    @Html.Partial("_SideMenuBar")
    <div class="col-12 col-md-10">
        <div class="card">
            <div class="card-header">
                <h4>Get a new Number</h4>
            </div>
            <div class="card-body">
                <div class="offset-md-1 col-11">
                    @using (Html.BeginForm("GetNumber", "Numbers", FormMethod.Post, new { id = "form-get-number" }))
                    {
                        @Html.HiddenFor(m => m.NumberCost)
                        @Html.HiddenFor(m => m.AccountId)
                        @Html.HiddenFor(m => m.PurchaseType)
                        @Html.HiddenFor(m => m.PayPalCustom)
                        @Html.HiddenFor(m => m.VirtualNumberId)
                        @Html.HiddenFor(m => m.PurchaseTitle)
                        @Html.HiddenFor(m => m.ProductDescription)
                        @Html.HiddenFor(m => m.CompletionTitle)
                        @Html.HiddenFor(m => m.CompletionMessage)
                        @Html.HiddenFor(m => m.LeasePeriodType)
                        @Html.HiddenFor(m => m.LeasePeriod)
                        @Html.HiddenFor(m => m.Success)
                        @Html.HiddenFor(m => m.Status)
                        @Html.HiddenFor(m => m.VirtualNumber)
                        <input type="hidden" id="hidTotalCost" value="0" />

                        <div class="form-group">
                            @Html.LabelFor(m => m.NumberCountryId, new { @class = "form-label" })
                            @Html.DropDownListFor(m => m.NumberCountryId, new SelectList(Model.CountriesList, "Value", "Text"), new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NumberCountryId, null, new { @class = "text-danger" })
                            @*<p class="subscript">* All number purchases include credit for 50 text messages.</p>*@
                        </div>
                        @*<div id="DivAreaCode">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.AreaCode, new { @class = "form-label" })
                                    <div class="form-row m-1">
                                        @Html.TextBoxFor(m => m.AreaCode, new { @class = "col-3 col-md-2 form-control", placeholder = "000" })
                                        <div id="spintiller1" class="spinner-border collapse ml-3" role="status">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                        <div class="ml-3">
                                            <label id="AreaCodeDescription" class="col-form-label"></label>
                                        </div>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.AreaCode, null, new { @class = "text-danger" })
                            </div>
                            <div class="form-group" id="DivTollFreePrefix" style="display:none">
                                @Html.LabelFor(m => m.TollFreePrefix, new { @class = "form-label" })
                                <div class="row">
                                    <div class="col-3">
                                        @Html.DropDownListFor(m => m.TollFreePrefix, new SelectList(Model.TollFreeAreaCodesList, "Value", "Text"), new { @class = "form-control" })
                                    </div>
                                    <div id="spintiller2" class="spinner-border collapse" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                                @Html.ValidationMessageFor(m => m.TollFreePrefix, null, new { @class = "text-danger" })
                            </div>*@


                        <div class="form-group mb-0">
                            <label id="lbl-sel-number" class="form-label pb-1">Select a number (search by area code)</label>
                            <div id="selected-number-wrap">
                                <label id="selected-number" class="vn-sel-num">@Model.NumberDisplayFormat</label>
                                <a id="lnk-change-number" href="#">change</a>
                            </div>
                        </div>
                        <div id="number-chooser">
                            <input type="text" id="area-code" class="form-control ac-input mb-2" , placeholder="Area Code" />
                            @Html.Partial("_NumberPicker")
                        </div>
                        @Html.ValidationMessageFor(m => m.VirtualNumber, null, new { @class = "text-danger" })

                        @*<div class="form-group">
                                            @Html.LabelFor(m => m.VirtualNumber, new { @class = "form-label" })
                                            @Html.DropDownListFor(m => m.VirtualNumber, new SelectList(Model.NumbersList, "Value", "Text"), new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.VirtualNumber, null, new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                @Html.LabelFor(m => m.LeasePeriod, new { @class = "form-label" })
                                @Html.DropDownListFor(m => m.LeasePeriod, new SelectList(Model.LeasePeriodsList, "Value", "Text"), new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.LeasePeriod, null, new { @class = "text-danger" })
                            </div>*@
                        <div class="form-group">
                            @Html.LabelFor(m => m.LeasePeriodCode, new { @class = "form-label" })
                            @Html.DropDownListFor(m => m.LeasePeriodCode, new SelectList(Model.LeasePeriodsList, "Value", "Text"), new { @class = "col-md-5 form-control" })
                            @Html.ValidationMessageFor(m => m.LeasePeriodCode, null, new { @class = "text-danger" })
                        </div>
                        @*<div class="row lower-label">
                                <label>Number Cost</label>
                                <label id="NumberCostTxt"></label>
                            </div>*@
                        <div class="row lower-label">
                            <label>Available Credit</label>
                            <label id="AvailableCredit">@Formatting.DisplayMoney(Model.CreditCurrentBalance)</label>
                        </div>
                        <div class="row lower-label">
                            <label>Remaining Credit After Purchase</label>
                            <label id="RemainingCredit"></label>
                        </div>
                        <div id="creditOK">
                            <div class="form-group">
                                <button id="btnPurchase" type="button" class="btn btn-primary">@(Model.PurchaseType == "ComplimentaryNumber" ? "Select Number" : "Complete Purchase")</button>
                            </div>
                        </div>
                        <div id="creditInsufficient" style="display: none">
                            <div class="pl-0">
                                <p class="alert alert-danger text-center">
                                    Your balance is not sufficient to make this purchase.
                                    <br />
                                    <br />
                                    <a href="/account/balance" class="btn btn-danger" role="button" aria-disabled="true">Top Up Credit</a>
                                </p>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>