<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="description" content="@ViewData["Description"]">
    <meta property="og:title" content="@ViewData["Title"]">
    <meta property="og:description" content="@ViewData["Description"]">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:url" content="@ViewData["Url"]">
    <meta property="og:site_name" content="TextPort">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="online texting service, virtual mobile number, bulk texting, group texting, business sms service" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="TextPort.com" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="3600" />
    <meta property="fb:page_id" content="259179750811667" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/content/css/jnoty.css">
    <link rel="stylesheet" type="text/css" href="~/content/css/styles.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script type="text/javascript" src="~/scripts/jnoty/jnoty.min.js"></script>

    <script src="~/scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/scripts/textport/signalr-hub.js"></script>

    <script type="text/javascript">
        //var _gaq = _gaq || [];
        //_gaq.push(['_setAccount', 'UA-21685628-1']);
        //_gaq.push(['_trackPageview']);

        $(function () {

            // Analytics
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-21685628-1', 'auto');
            ga('send', 'pageview');

            $('.modal-button').on('click', function () {
                var url = $(this).data('url');
                var target = $(this).data('target');

                $.get(url, function (data) {
                    $(target).html(data);
                    $(target + ' > .modal').modal({ keyboard: true }, 'show');
                });
                return false;
            });

            $('#modal-cont-login').on('shown.bs.modal', function (e) {
                $("#UserNameOrEmail").focus();
                $('#form-login').submit(function (event) {
                    event.preventDefault();
                });
                $.validator.unobtrusive.parse("#form-login");

                $('#btnSubmitLogin').on("click", function (e) {
                    if ($("#form-login").valid()) {
                        validateLogin();
                    }
                });
            });

            getBalance();
        });

        function validateLogin() {
            var url = '/account/validatelogin/';

            var creds = {
                UserNameOrEmail: $("#UserNameOrEmail").val(),
                LoginPassword: $("#LoginPassword").val()
            };

            $.ajax({
                type: 'POST',
                cache: false,
                url: url,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(creds),
                success: function (result) {
                    if (result.success != "true") {
                        $("#lblMessage").text("");
                        $("#lblMessage").append(result.response);
                        $("#loginMessage").toggle();
                    }
                    else {
                        window.location.href = result.response;
                    }
                }
            });
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function getBalance() {
            $("#balance").html(readCookie("balance"));
        }
    </script>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="~/Content/images/tp_logo_240x54.png" width="140" alt="TextPort">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item active">
                                <a class="nav-link" href="/messages">
                                    My Messages
                                    @*<span class="sr-only">(current)</span>*@
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bulk / Group</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/bulk">Bulk Texting</a>
                                    <a class="dropdown-item" href="/bulk/inbox">In Box</a>
                                    <a class="dropdown-item" href="/group">Group Texting</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/email-to-sms-gateway">Email to SMS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Virtual Numbers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">API</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/account/profile">Profile</a>
                                    <a class="dropdown-item" href="/account/balance">Balance</a>
                                    <a class="dropdown-item" href="/numbers">Numbers</a>
                                    <a class="dropdown-item" href="/groups">Groups</a>
                                    <a class="dropdown-item" href="/apisettings">API Settings</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/account/logout">Log Out</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item active">
                                <a class="nav-link" href="/">
                                    Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/email-to-sms-gateway">Email to SMS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/virtual-mobile-numbers">Virtual Numbers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/api">API</a>
                            </li>
                            <li class="nav-item">
                                @if (Request.Browser.IsMobileDevice)
                                {
                                    <a href='/loginm' class="nav-link">Log In</a>
                                }
                                else
                                {
                                    <a href='#' id="login-link" class="nav-link modal-button" data-toggle="modal" data-target="#modal-cont-login" data-url="/login">Log In</a>
                                }
                            </li>
                            <li>
                                <a href="/account/signup"><button class="btn btn-primary ml-auto mr-2">Sign Up</button></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

        @*@if (User.Identity.IsAuthenticated)
            {
                <nav class="navbar navbar-expand-md bg-white">
                    <a class="navbar-brand nav-link" href="/"><img src="~/content/images/tp_logo_240x54.png?h=06d3a6bd33a5b974da6ee4b4c5b06da3" width="130" alt="TextPort"></a>
                    <button class="navbar-toggler navbar-light border-1" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse text-primary text-primary" id="navbarNavDropdown">
                        <ul class="navbar-nav nav-pills ml-auto text-primary">
                            <li class="nav-item">
                                @Html.ActionLink("My Messages", "index", "messages", null, htmlAttributes: new { @class = "nav-link" })
                            </li>
                            <li class="nav-item dropdown d-none d-md-block">
                                <a class="nav-link dropdown-toggle" href="#" id="navBGLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bulk / Group</a>
                                <div class="dropdown-menu" aria-labelledby="navBGLink">
                                    @Html.ActionLink("Bulk Texting", "index", "bulk", null, htmlAttributes: new { @class = "dropdown-item" })
                                    @Html.ActionLink("In Box", "inbox", "bulk", null, htmlAttributes: new { @class = "dropdown-item" })
                                    @Html.ActionLink("Group Texting", "index", "group", null, htmlAttributes: new { @class = "dropdown-item" })
                                </div>
                            </li>
                            <li class="nav-item d-md-none">
                                <a class="nav-link" href="/bulk/">Bulk Texting</a>
                            </li>
                            <li class="nav-item d-md-none">
                                <a class="nav-link" href="/bulk/inbox">In Box</a>
                            </li>
                            <li class="nav-item d-md-none">
                                <a class="nav-link" href="/group/">Group Texting</a>
                            </li>
                            <li class="dropdown-divider d-md-none"></li>
                            <li class="nav-item dropdown d-none d-md-block">
                                <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
                                <div class="dropdown-menu">
                                    @Html.ActionLink("Profile", "profile", "account", null, htmlAttributes: new { @class = "dropdown-item" })
                                    @Html.ActionLink("Balance", "balance", "account", null, htmlAttributes: new { @class = "dropdown-item" })
                                    @Html.ActionLink("Numbers", "", "numbers", null, htmlAttributes: new { @class = "dropdown-item" })
                                    @Html.ActionLink("Groups", "", "Groups", null, htmlAttributes: new { @class = "dropdown-item" })
                                    @Html.ActionLink("API Settings", "", "APISettings", null, htmlAttributes: new { @class = "dropdown-item" })
                                    <div class="dropdown-divider"></div>
                                    @Html.ActionLink("Log Out", "logout", "account", null, htmlAttributes: new { @class = "dropdown-item" })
                                </div>
                            </li>
                            <li class="nav-item d-md-none">
                                <a class="nav-link" href="/account/profile">Profile</a>
                            </li>
                            <li class="nav-item d-md-none">
                                <a class="nav-link" href="/account/balance">Balance</a>
                            </li>
                            <li class="nav-item d-md-none">
                                <a class="nav-link" href="/numbers/">Numbers</a>
                            </li>
                            <li class="nav-item d-md-none">
                                <a class="nav-link" href="/groups/">Groups</a>
                            </li>
                            <li class="nav-item d-md-none">
                                <a class="nav-link" href="/apisettings/">API Settings</a>
                            </li>
                            <li class="nav-item d-md-none">
                                <a class="nav-link" href="/account/changepassword">Change Password</a>
                            </li>
                            <li class="nav-item d-md-none">
                                <div class="dropdown-divider"></div>
                            </li>
                            <li class="nav-item d-md-none">
                                <a class="nav-link" href="/account/logout">Log Out</a>
                            </li>
                        </ul>
                    </div>
                </nav>
                <div class="row">
                    <div class="col-12">
                        <p class="mt-1 mb-2 text-secondary tp-bal">Balance: $<span id="balance"></span></p>
                    </div>
                </div>
            }
            else
            {
                <nav class="navbar">
                    <a class="navbar-brand nav-link" href="/"><img src="~/content/images/tp_logo_240x54.png?h=06d3a6bd33a5b974da6ee4b4c5b06da3" width="130" alt="TextPort"></a>
                    <ul class="nav nav-pills ml-auto">
                        <li class="nav-item">
                            <a href='/api' class="nav-link">SMS API</a>
                        </li>
                        <li class="nav-item">
                            @if (Request.Browser.IsMobileDevice)
                            {
                                <a href='/home/loginm' class="nav-link">Log In</a>
                            }
                            else
                            {
                                <a href='#' id="login-link" class="nav-link modal-button" data-toggle="modal" data-target="#modal-cont-login" data-url="/home/login">Log In</a>
                            }
                        </li>
                        <li class="nav-item d-none d-md-block">
                            <a href='/account/signup' id="login-link-mobile" class="nav-link active">Sign Up</a>
                        </li>
                    </ul>
                </nav>
            }*@
        @RenderBody()
        <hr />
        <footer class="footer bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 h-100 text-center text-md-left my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <a href="/support">Support</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="/contact">Contact</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="/terms">Terms of Use</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="/privacy">Privacy Policy</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="/api">SMS API</a>
                            </li>
                        </ul>
                        <p class="text-muted small mb-4 mb-md-0">&copy; TextPort 2019. All Rights Reserved.</p>
                    </div>
                    <div class="col-md-6 h-100 text-center text-md-right my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item mr-3">
                                <a href="#">
                                    <i class="fa fa-facebook fa-2x fa-fw"></i>
                                </a>
                            </li>
                            <li class="list-inline-item mr-3">
                                <a href="#">
                                    <i class="fa fa-twitter-square fa-2x fa-fw"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
    </div>

    <div id="modal-cont"></div>
    <div id="modal-cont-login"></div>

</body>
</html>
