<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <meta charset="utf-8">
    <meta name="description" content="@ViewData["Description"]">
    <meta property="og:title" content="@ViewData["Title"]">
    <meta property="og:description" content="@ViewData["Description"]">
    <meta name="keywords" content="@ViewData["Keywords"]">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="article">
    <meta property="og:url" content="@ViewData["Url"]">
    <meta property="og:site_name" content="TextPort">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="robots" content="index, follow" />
    <meta name="author" content="TextPort.com" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="3600" />
    <meta property="fb:page_id" content="259179750811667" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/content/css/jnoty.css">
    <link rel="stylesheet" type="text/css" href="~/content/css/styles.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script type="text/javascript" src="~/scripts/jnoty/jnoty.min.js"></script>

    <script src="~/scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/scripts/textport/signalr-hub.js"></script>

    <script type="text/javascript">
        $(function () {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date(); a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

            ga('create', 'UA-21685628-1', 'auto');
            ga('send', 'pageview');

            $('.modal-button').on('click', function () {
                var url = $(this).data('url');
                var target = $(this).data('target');

                $.get(url, function (data) {
                    $(target).html(data);
                    $(target + ' > .modal').modal({ keyboard: true }, 'show');
                });
                return false;
            });

            $('#modal-cont-login').on('shown.bs.modal', function (e) {
                $("#UserNameOrEmail").focus();
                $('#form-login').submit(function (event) {
                    event.preventDefault();
                });
                $.validator.unobtrusive.parse("#form-login");

                $('#btnSubmitLogin').on("click", function (e) {
                    if ($("#form-login").valid()) {
                        validateLogin();
                    }
                });
            });

            //$('#main-cont').click(function (e) {
            //    if (e.target.className.substring(0, 3) != "nav") {
            //        hideSidenav();
            //    }
            //});

            getBalance();
        });

        function validateLogin() {
            var url = '/account/validatelogin/';

            var creds = {
                UserNameOrEmail: $("#UserNameOrEmail").val(),
                LoginPassword: $("#LoginPassword").val()
            };

            $.ajax({
                type: 'POST',
                cache: false,
                url: url,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(creds),
                success: function (result) {
                    if (result.success != "true") {
                        $("#lblMessage").text("");
                        $("#lblMessage").append(result.response);
                        $("#loginMessage").toggle();
                    }
                    else {
                        window.location.href = result.response;
                    }
                }
            });
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function getBalance() {
            $("#balance").html(readCookie("balance"));
        }
    </script>
</head>
<body>
    <div id="main-cont" class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                <a class="navbar-brand" href="/">
                    <img src="~/Content/images/tp_logo_240x54.png" width="140" alt="TextPort">
                </a>
                <button id="nb-toggle" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item active">
                                <a class="nav-link" href="/messages">
                                    My Messages
                                    @*<span class="sr-only">(current)</span>*@
                                </a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bulk / Group</a>
                                <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/bulk">Bulk Texting</a>
                                    <a class="dropdown-item" href="/bulk/inbox">In Box</a>
                                    <a class="dropdown-item" href="/group">Group Texting</a>
                                </div>
                            </li>
                            @*<li class="nav-item">
                                    <a class="nav-link" href="/email-to-sms-gateway">Email to SMS</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/virtual-mobile-numbers">Virtual Numbers</a>
                                </li>*@
                            <li class="nav-item">
                                <a class="nav-link" href="/api">API</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
                                <div class="dropdown-menu bg-light" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="/account/profile">Profile</a>
                                    <a class="dropdown-item" href="/account/balance">Balance</a>
                                    <a class="dropdown-item" href="/numbers">Numbers</a>
                                    <a class="dropdown-item" href="/groups">Groups</a>
                                    <a class="dropdown-item" href="/emailtosms">Email to SMS</a>
                                    <a class="dropdown-item" href="/apisettings">API Settings</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="/account/logout">Log Out</a>
                                </div>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item active">
                                <a class="nav-link" href="/">
                                    Home
                                    <span class="sr-only">(current)</span>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/bulk-texting">Bulk Texting</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/email-to-sms-gateway">Email to SMS</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/virtual-mobile-numbers">Virtual Numbers</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="/api">API</a>
                            </li>
                            <li class="nav-item">
                                @if (Request.Browser.IsMobileDevice)
                                {
                                    <a href='/loginm' class="nav-link">Log In</a>
                                }
                                else
                                {
                                    <a href='#' id="login-link" class="nav-link modal-button" data-toggle="modal" data-target="#modal-cont-login" data-url="/login">Log In</a>
                                }
                            </li>
                            <li>
                                <a href="/account/signup"><button class="btn btn-primary ml-auto mr-2">Sign Up</button></a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
        <nav class="sidenav"></nav>
        <br /><br /><br />
        @RenderBody()
        @if (!User.Identity.IsAuthenticated)
        {
            <footer class="mainfooter" role="contentinfo">
                <div class="footer-middle">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3 col-sm-6">
                                <div class="footer-padxx">
                                    <h4>About</h4>
                                    <p>
                                        Founded in 2011, TextPort was a pioneer of online texting services.
                                        TextPort evolved to add new services like virtual numbers, bulk texting,
                                        and an SMS API. Today, TextPort continues to provide business-class SMS
                                        services to its growing user base of business and individuals.
                                    </p>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="footer-padxx">
                                    <h4>Products</h4>
                                    <ul class="list-unstyled">
                                        <li><a href="/bulk-texting">Bulk SMS</a></li>
                                        <li><a href="/email-to-sms-gateway">Email to SMS Gateway</a></li>
                                        <li><a href="/virtual-mobile-numbers">Virtual Mobile Numbers</a></li>
                                        <li><a href="/api">SMS API</a></li>
                                        <li><a href="/">Online Texting</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6">
                                <div class="footer-pad">
                                    <h4>Contact</h4>
                                    <ul class="list-unstyled">
                                        <li><a href="/support">Support</a></li>
                                        <li><a href="/contact">Contact</a></li>
                                        <li><a href="/terms">Terms of Use</a></li>
                                        <li><a href="/privacy">Privacy Policy</a></li>
                                        <li><a href="/">Home</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <h4>Social</h4>
                                <ul class="social-network social-circle">
                                    <li><a href="https://www.facebook.com/pages/TextPort/259179750811667" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="https://twitter.com/textport" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 copy">
                                <p class="text-center">&copy; Copyright 2019 - TextPort.com.  All rights reserved.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        }
    </div>

    <div id="modal-cont"></div>
    <div id="modal-cont-login"></div>

</body>
</html>
<script src="~/Scripts/sidenav/sidenav.js"></script>
