<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"] - TextPort</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="TextPort Texting Portal">
    <meta name="keywords" content="online texting service, virtual mobile number, bulk texting, group texting, business sms service" />
    <meta name="robots" content="index, follow" />
    <meta name="author" content="TextPort.com" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Script-Type" content="text/javascript" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="expires" content="3600" />
    <meta property="fb:page_id" content="259179750811667" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/content/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/content/css/jnoty.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validation.unobtrusive/3.2.6/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
    <script type="text/javascript" src="~/scripts/jnoty/jnoty.min.js"></script>

    <script src="~/scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/scripts/TextPort/signalr-hub.js"></script>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-21685628-1']);
        _gaq.push(['_trackPageview']);

        $(function () {

            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);

            $('.modal-button').on('click', function () {
                var url = $(this).data('url');
                var target = $(this).data('target');

                $.get(url, function (data) {
                    $(target).html(data);
                    $(target + ' > .modal').modal({ keyboard: true }, 'show');
                });
                return false;
            });

            $('#modal-cont-login').on('shown.bs.modal', function (e) {
                $("#UserNameOrEmail").focus();
                $('#form-login').submit(function (event) {
                    event.preventDefault();
                });
                $.validator.unobtrusive.parse("#form-login");

                $('#btnSubmitLogin').on("click", function (e) {
                    if ($("#form-login").valid()) {
                        validateLogin();
                    }
                });
            });

            getBalance();
        });

        //function showModal(containerName, formURL) {
        //    $('#' + containerName).html('');
        //    $.get({
        //        url: formURL,
        //        dataType: "html",
        //        error: function (jqXHR, textStatus, errorThrown) {
        //            alert(textStatus + ": Couldn't load form. " + errorThrown);
        //        },
        //        success: function (newInputHTML) {
        //            var form = document.getElementById(containerName);
        //            form.insertAdjacentHTML("beforeend", newInputHTML);
        //            //$(form).removeData("validator")    // Added by jQuery Validate
        //            //    .removeData("unobtrusiveValidation");   // Added by jQuery Unobtrusive Validation
        //            //$.validator.unobtrusive.parse(form);

        //            $('#' + containerName).modal({
        //                keyboard: true
        //            }, 'show');
        //        }
        //    })
        //}

        function validateLogin() {
            var url = '/account/validatelogin/';

            var creds = {
                UserNameOrEmail: $("#UserNameOrEmail").val(),
                LoginPassword: $("#LoginPassword").val()
            };

            $.ajax({
                type: 'POST',
                cache: false,
                url: url,
                contentType: 'application/json; charset=utf-8',
                data: JSON.stringify(creds),
                success: function (result) {
                    if (result.success != "true") {
                        $("#lblMessage").text("");
                        $("#lblMessage").append(result.response);
                        $("#loginMessage").toggle();
                    }
                    else {
                        window.location.href = result.response;
                    }
                }
            });
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }

        function getBalance() {
            $("#balance").html(readCookie("balance"));
        }

    </script>
</head>
<body>
    <br />
    <div class="container">
        <nav>
            <a class="navbar-brand nav-link" href="/"><img src="~/content/images/tp_logo_240x54.png?h=06d3a6bd33a5b974da6ee4b4c5b06da3" width="130" alt="TextPort"></a>
            <ul class="nav nav-pills float-right">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        @Html.ActionLink("My Messages", "Main", "Messages", null, htmlAttributes: new { @class = "nav-link" })
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navBGLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Bulk / Group</a>
                        <div class="dropdown-menu" aria-labelledby="navBGLink">
                            @Html.ActionLink("Send Bulk Texts", "Index", "Bulk", null, htmlAttributes: new { @class = "dropdown-item" })
                            @Html.ActionLink("Send Group Text", "Index", "Group", null, htmlAttributes: new { @class = "dropdown-item" })
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link active dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">@User.Identity.Name</a>
                        <div class="dropdown-menu">
                            @Html.ActionLink("Profile", "Profile", "Account", null, htmlAttributes: new { @class = "dropdown-item" })
                            @Html.ActionLink("Balance", "Balance", "Account", null, htmlAttributes: new { @class = "dropdown-item" })
                            @Html.ActionLink("Numbers", "Manage", "Numbers", null, htmlAttributes: new { @class = "dropdown-item" })
                            @Html.ActionLink("Groups", "", "Groups", null, htmlAttributes: new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Log Out", "LogOut", "Account", null, htmlAttributes: new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a href='#' class="nav-link modal-button" data-toggle="modal" data-target="#modal-cont-login" data-url="/home/login">Log In</a>
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Sign Up", "SignUp", "Account", null, htmlAttributes: new { @class = "nav-link active", id = "loginLink" })
                    </li>
                }
            </ul>
        </nav>
        <div class="row">
            <div class="col-sm-12">
                @if (User.Identity.IsAuthenticated)
                {
                    <p class="mt-1 mb-2 mr-0 text-secondary tp-bal">Balance: $<span id="balance"></span></p>
                }
                else
                {
                    <p class="m-3"></p>
                }
            </div>
        </div>
        @RenderBody()
        <hr />
        <footer class="footer bg-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <a href="/support">Support</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="/contact">Contact</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="/terms">Terms of Use</a>
                            </li>
                            <li class="list-inline-item">&sdot;</li>
                            <li class="list-inline-item">
                                <a href="/privacy">Privacy Policy</a>
                            </li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0">&copy; TextPort 2019. All Rights Reserved.</p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-right my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item mr-3">
                                <a href="#">
                                    <i class="fa fa-facebook fa-2x fa-fw"></i>
                                </a>
                            </li>
                            <li class="list-inline-item mr-3">
                                <a href="#">
                                    <i class="fa fa-twitter-square fa-2x fa-fw"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <div id="modal-cont"></div>
    <div id="modal-cont-login"></div>

    @*@RenderSection("Scripts", required: false)*@

</body>
</html>
